GWAS
ldgms/
work/

*.bcf
*.bcf.csi
*.bgen
*.pgen
*.pvar
*.psam
*.bed
*.bim
*.fam
*.zip

mbv-prs/genotypes
mbv-prs/tools/
mbv-prs/prsice_model_export/
mbv-prs/qc/
mbv-prs/shizhong-mbv-prs/shan-prs-keri/*/[0-9]*/
mbv-prs/shizhong-mbv-prs/shan-prs-keri/*/*_err_out/
